{# Enlazar este fichero con la plantilla correspondiente #}
{% extends "layouts/public.twig" %}


{% block title %}Index{% endblock %}


{% block content %}	
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
<div class="carousel-inner">
  <div class="carousel-item active">
    <img src="http://localhost/img/DWES/p2/IMG_7905 - copia.jpg" class="d-block w-100" alt="...">
  </div>
  <div class="carousel-item">
    <img src="http://localhost/img/DWES/p2/IMG_8251.jpg" class="d-block w-100" alt="...">
  </div>
  <div class="carousel-item">
    <img src="http://localhost/img/DWES/p2/IMG_8400.jpg" class="d-block w-100" alt="...">
  </div>
</div>
</div>

<div class="album py-5 bg-dark text-center">
<div class="container">
  <h3 class="mb-3 text-white">BEST-SELLERS</h3>
  <div class="row text-center">
    <div class="col-lg-4 col-md-12 col-sm-12 mb-4">
      <div class="card">
        <img src="http://localhost/img/DWES/p2/Be-Relentless1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-title">BE RELENTLESS | 19,95€</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 mb-4">
      <div class="card">
        <img src="http://localhost/img/DWES/p2/Progress.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-title">PROGRESS | 19,95€</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 mb-4">
      <div class="card">
        <img src="http://localhost/img/DWES/p2/Unstoppable.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-title">UNSTOPPABLE | 19,95€</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<!-- Gallery -->
<div class="row m-3">
<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
  <img src="http://localhost/img/DWES/p2/IMG_7849%20ps%20.jpg" class="w-100 shadow-1-strong rounded mb-4"
    alt="Boat on Calm Water" />
  <img src="http://localhost/img/DWES/p2/IMG_7998.jpg" class="w-100 shadow-1-strong rounded mb-4"
    alt="Waves at Sea" />
</div>

<div class="col-lg-4 mb-4 mb-lg-0 mt-3">
  <img src="http://localhost/img/DWES/p2/logo2.1.jpg" class="w-100 shadow-1-strong rounded mb-4"
    alt="Mountains in the Clouds" />
</div>

<div class="col-lg-4 mb-4 mb-lg-0">
  <img src="http://localhost/img/DWES/p2/IMG_8125.jpg" class="w-100 shadow-1-strong rounded mb-4"
    alt="Waves at Sea" />
  <img src="http://localhost/img/DWES/p2/IMG_7918%20we.jpg" class="w-100 shadow-1-strong rounded mb-4"
    alt="Boat on Calm Water" />
</div>
</div>
<!-- Gallery -->


{% endblock %}

{% block script %}

{% endblock %}