{# Enlazar este fichero con la plantilla correspondiente #}
{% extends "layouts/public.twig" %}


{% block title %}Shop{% endblock %}


{% block content %}	
<div class="album py-5">
        <div class="container">
            <h3 class="mb-3">TODOS LOS PRODUCTOS</h3>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 mb-5">
                    <div class="card">
                        <img src="http://localhost/img/DWES/p2/art1.png" alt="Photo 2" class="img-fluid">
                        <div class="ribbon-wrapper">
                            <div class="ribbon bg-danger">
                                -30%
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">BE RELENTLESS TEE | <del>27,00€</del> 19,95€</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 mb-5">
                    <div class="card">
                        <img src="http://localhost/img/DWES/p2/art2.png" alt="Photo 2" class="img-fluid">
                        <div class="ribbon-wrapper">
                            <div class="ribbon bg-danger">
                                -30%
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">PROGRESS TEE | <del>27,00€</del> 19,95€</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 mb-5">
                    <div class="card">
                        <img src="http://localhost/img/DWES/p2/art3.png" alt="Photo 2" class="img-fluid">
                        <div class="ribbon-wrapper">
                            <div class="ribbon bg-danger">
                                -30%
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">UNSTOPPABLE TEE | <del>27,00€</del> 19,95€</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 mb-5">
                    <div class="card">
                        <img src="http://localhost/img/DWES/p2/art4.png" alt="Photo 2" class="img-fluid">
                        <div class="ribbon-wrapper">
                            <div class="ribbon bg-danger">
                                -30%
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">BASIC TEE | <del>27,00€</del> 19,95€</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 mb-5">
                    <div class="card">
                        <img src="http://localhost/img/DWES/p2/art5.png" alt="Photo 2" class="img-fluid">
                        <div class="ribbon-wrapper">
                            <div class="ribbon bg-danger">
                                -30%
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">PRICELESS TEE | <del>27,00€</del> 19,95€</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block script %}

{% endblock %}