{# Enlazar este fichero con la plantilla correspondiente #}
{% extends "layouts/private.twig" %}
{% block title %}
    Index Admin
    
{% endblock %}
{% block style %}
    <!-- CSS only -->
<link rel="stylesheet" type="text/css" href="//github.com/downloads/lafeber/world-flags-sprite/flags32.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">
<!-- JavaScript Bundle with Popper -->
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script type="text/javascript" charset="utf8"
src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
{% endblock %}
{% block content %}

        <div class="card mt-3 me-3">
        <div class="card-header">
            Tabla Usuarios Relentless
              
        </div>
        <div class="card-body">
                <table id="example" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>
            
                            </th>
                            <th>
                                Id

                            </th>
                            <th>
                                Nombre

                            </th>
                            <th>
                                Nacionalidad

                            </th>
                            <th>
                                Email

                            </th>
                            <th>
                                Id rol

                            </th>
                            <th>
                                <button class="btn btn-success btn-sm mb-1" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                    Crear

                                </button>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                        Modal title
                                                                                    
                                                    
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="row g-3" action="{{ URL }}?controller=users&action=save" method="POST">
                        <div class="col-md-6">
                            <label for="inputnombre" class="form-label">
                                Nombre
                                                                                                            
                                                                    
                            </label>
                            <input type="text" class="form-control" id="nombre" name="nombre"></div>
                            <div class="col-md-6">
                                <label for="inputApellidos" class="form-label">
                                    Apellidos
                                                                        
                                </label>
                                <input type="text" class="form-control" id="apellidos" name="apellidos"></div>
                                <div class="col-md-6">
                                    <label for="inputState" class="form-label">
                                        Nacionalidad
                                                                                                                                    
                                                                                
                                    </label>
                                    <select id="inputState" class="form-select" name="nacionalidad">
                                        <option select>
                                            España
                                                                                                                                         
                                                                                        
                                        </option>
                                        <option>
                                            Inglaterra
                                                                                                                                                
                                                                                        
                                        </option>
                                        <option>
                                            EE.UU
                                                                                                                                                
                                                                                        
                                        </option>
                                        <option>
                                            Francia
                                                                                                                                                
                                                                                        
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="inputState" class="form-label">
                                        Tipo de Usuario
                                                                                                                                    
                                                                                
                                    </label>
                                    <select id="inputState" class="form-select" name="rol">
                                        <option select value="1">
                                            Admin
                                                                                                                                                
                                                                                        
                                        </option>
                                        <option value="2">
                                            User
                                                                                                                                                
                                                                                        
                                        </option>
                                    </select>
                                </div>
                                <div class="col-12">
                                    <label for="inputEmail4" class="form-label">
                                        Email
                                                                                                                                    
                                                                                
                                    </label>
                                    <input type="email" class="form-control" id="inputEmail4" name="email"></div>
                                    <div class="col-12 mb-4">
                                        <label for="inputPassword4" class="form-label">
                                            Password
                                                                                                                                                
                                                                                        
                                        </label>
                                        <input type="password" class="form-control" id="inputPassword4" name="password"></div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Close                                               
                                                                                    
                                        </button>
                                        <button type="submit" class="btn btn-success">
                                            Save changes                                                
                                                                                    
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endblock %}
{% block script %}
    <script>
        function format(d) {
            // `d` is the original data object for the row
            return (
                '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
                '<tr>' +
                '<td>Apellidos:</td>' +
                '<td>' +
                d.apellidos +
                '</td>' +
                '</tr>' +
                '<tr>' +
                '<td>Fecha Registro:</td>' +
                '<td>' +
                d.fecha_registro +
                '</td>' +
                '</tr>' +
                '</table>'
            );
        }

        $(document).ready(function () {
            var table = $('#example').DataTable({
                ajax: 'http://localhost/proyectosPHP/DAW2/1_desarrolloServidor/trimestre1/tienda/tiendaRelentless/?controller=users&action=show',
                columns: [
                    {
                        className: 'dt-control',
                        orderable: false,
                        data: null,
                        defaultContent: '',
                    },
                    { data: 'id' },
                    { data: 'nombre' },
                    {
                        className: 'f32', // used by world-flags-sprite library
                        data: 'nacionalidad',
                        render: function (data, type) {
                            if (type === 'display') {
                                let country = '';

                                switch (data) {
                                    case 'España':
                                        country = 'es';
                                        break;
                                    case 'Inglaterra':
                                        country = '_England';
                                        break;
                                    case 'EE.UU':
                                        country = 'us';
                                        break;
                                    case 'Francia':
                                        country = 'fr';
                                        break;
                                }

                                return '<span class="flag ' + country + '"></span> ' + data;
                            }

                            return data;
                        },
                    }, { data: 'email' },
                    { data: 'id_rol' },
                    {
                        data: 'acciones',
                        orderable: false,
                        className: 'text-center py-0 px-1',
                        render: function(data, type, row, meta) {
                            let a = '<a href="{{ URL }}?controller=users&action=edit&id=' + row.id + '" class="btn btn-warning btn-sm me-2 mt-1">Editar</a>'+
                            '<a href="{{ URL }}?controller=users&action=delete&id=' + row.id + '" class="btn btn-danger btn-sm me-2 mt-1">Eliminar</a>';
                            return a;
                        }
		            }

                ],
                order: [[1, 'asc']],
            });

            // Add event listener for opening and closing details
            $('#example tbody').on('click', 'td.dt-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                } else {
                    // Open this row
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                }
            });
        });
    </script>
{% endblock %}
                    