{# Enlazar fichero con la plantilla correspondiente #}
{% extends "plantilla.twig" %}

    {% block title %}Create{% endblock %}


    {% block content %}
        <form>
            <label>Formulario</label>
        </form>
    {% endblock %}